<!DOCTYPE html>
<!-- template.html -->
<html>
  <head>
   
    {{ headContent() }}
  	<link href="https://fr.allfont.net/allfont.css?fonts=aquiline-two" rel="stylesheet" type="text/css" />
  </head>
  <body>

  	<div class="header-content" id="header-content">

  		<div class="header-main">
  			<div style="height:25%; top:0; bottom:0; left:0; right: 0;">
  			</div>
    		<div class="main-titles">

		    	<h1><img class="title-wiki" src="wiki-title.png" alt="Title of Wiki-Masters"></h1>
		    	<h1><img class="subtitle-wiki" src="wiki-subtitle.png" alt="Subtitle of wiki-maesters"></h1>
			    <button id="button-next" onclick="next_page(1)"></button>

		     </div>


			<div style="height:25%; top:0; bottom:0; left:0; right: 0;">

			    <h1><img class="logo-got" src="logo_got.png" alt="Logo of Game of Thrones"></h1>

			</div>
		</div>

	</div>

	<div class="perso-content" id="perso-content">
		<div class="fiche">

			<h1><img class="title-perso" src="title_perso.png" alt="Title of character's guide"></h1>
			<div class="filter">
				
				{{ selectizeInput("personnageName", NULL, listOfActors, uiOutput("fichePerso")) }}

			</div>
			<div class="fiche-content">
				
				{{ fiche }}

			</div>

			<div class="parcoursPerso">

				{{ mapPerso }}

			</div>
		</div>

		
		<button id="button-prev" onclick="prev_page(0)"></button>
		<button id="button-next" onclick="next_page(2)"></button>
	</div>

	<div class="map-content" id="map-content">

    <h1><img class="title-map" src="title_map.png" alt="Title of the map"></h1>

		{{ map }}

		
		<button id="button-prev" onclick="prev_page(1)"></button>
		<button id="button-next" onclick="next_page(3)"></button>
	</div> 

	<div class="graphe-content" id="graphe-content">
    <h1><img class="title-stats" src="title_stats.png" alt="Title of the map"></h1>
		{{ statistics }}

		<button id="button-prev" onclick="prev_page(2)"></button>

	</div> 


  </body>
  <script>

  	pages = ["header-content", "perso-content", "map-content", "graphe-content"]



	function next_page( value ){

		var current_page = document.getElementById( pages[value -1] );
		var next_page = document.getElementById( pages[value] );

		current_page.style.left="-500%";
		next_page.style.left= "0";
	}


	function prev_page( value ){

		var current_page = document.getElementById( pages[value + 1] );
		var next_page = document.getElementById( pages[value] );

		current_page.style.left="-500%";
		next_page.style.left= "0";
	}

  </script>

  <style>

  	html{	
 

  		overflow: hidden;

      background-image: url("background.jpg");
      background-repeat: no-repeat;
      background-size: cover;

  	}


  	h1{
  		text-align: center;
  	}

  	#button-next{

  		position:absolute;
  		margin: 0 auto;
  		right: -10%;
  		top:50%;

  		background-image: url("button_next.png");
  		background-repeat: no-repeat;
  		background-size: 170px 80px;
  		background-position: 50% 50%;
  		background-color: rgb(0,0,0,0);
  		  /* put the height and width of your image here */
  		height: 80px;
  		width: 170px;
  		border: none;

  	}

  	#button-next:hover{
  		border: 1px dashed white;
  	}

  	#button-prev:hover{
  		border: 1px dashed white;
  	}

  	#button-prev{

  		position:absolute;
  		margin: 0 auto;
  		left: -10%;
  		top:50%;

  		background-image: url("button_previous.png");
  		background-repeat: no-repeat;
  		background-size: 170px 80px;
  		background-position: 50% 50%;
  		background-color: rgb(0,0,0,0);
  		  /* put the height and width of your image here */
  		height: 80px;
  		width: 170px;
  		border: none;

  	}


  	.header-content{
  		
		position: absolute; 
  		
  		top: 0; 
  		right: 0; 
  		bottom: 0; 
  		left: 0;

  		background: url("book_debut.jpg") no-repeat;
  		-webkit-background-size: 100% 100%; /* pour anciens Chrome et Safari */
  		background-size: 100% 100%; /* version standardisée */
  		max-width : 600px;
  		height: 100%;
  		max-height: 1000px;
  		margin:auto;


  	
  	}

  	.header-main{

  		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

  	}

  	.main-titles{

  		margin: 0 auto;
  		min-width: 100%
  		max-width: 100%;

  	}

  	.header-main > button{
  		margin: 0 auto;	
  	}

  	.logo-got{

  		margin: auto auto;
  		width: 30%;
  		height: 10%;

  	}

  	.title-wiki{

  		margin-top: 10%;
  		width: 50%;
  		height: auto;

  	}

  	.subtitle-wiki{
  		width: 50%;
  		height: auto;
  	}



  	.perso-content{

  		position: absolute; 
  		
  		top: 0; 
  		right: 0; 
  		bottom: 0; 
  		left: 500%;

  		background: url("double_page_2.jpg") no-repeat;
  		-webkit-background-size: 100% 100%; /* pour anciens Chrome et Safari */
  		background-size: 100% 100%; /* version standardisée */
  		max-width : 1200px;
  		height: 100%;
  		max-height: 1000px;
  		margin:auto;


  	}

    .title-map{

      width: 35%;
      height: 35%;
      margin-right: 45%;
      margin-top: 12%;

    }


  	.map-content{
  		
  		position: absolute; 
		
  		top: 0; 
  		right: 0; 
  		bottom: 0; 
  		left: -500%;

  		background: url("double_page_3.jpg") no-repeat;
  		-webkit-background-size: 100% 100%; /* pour anciens Chrome et Safari */
  		background-size: 100% 100%; /* version standardisée */
  		max-width : 1200px;
  		height: 100%;
  		max-height: 1000px;
  		margin:auto;

  	}

  	.map-content > .container-fluid > .row > .col-sm-4 {

  		float: left;
  		margin-top: -16%;
  		margin-left: 9%;
  		width: 35%;
  		background-color: transparent;
  	}

  	.map-content > .container-fluid > .row > .col-sm-4 > .well{

  		background-color: transparent;
  		border: none;
      margin-top: 50%;
  	}

  	.map-content > .container-fluid > .row > .col-sm-8{
        position: absolute;
  	    margin-left: 43%;
        top: 16%;
  	}

    .land-infos{

      position: absolute;
      width: 100px;
      margin-left: 10%;
      
    }

    .land-names{

      position: absolute;

      margin-left: 45%;

    }

  	.title-perso{

  		width: 30%;
  		height: 30%;
      margin-right: 45%;

  
  	}


  	.fiche{

  		margin: 0 auto;
  		width : 100%;
  		height: 70%;

  		margin-top: 8%;

  		-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  		background-size: cover; /* version standardisée */

  		border-radius: 10px;

  		font-size : 16px;

  	}


  	.filter{

  		position: absolute;
  		left: 10%;
  	}

  	.fiche-content{

  		position: absolute;
  		left: 5%;
  		margin-top: 5%;
  		font-size: 18px;
  		padding: 10px;

  		width: 500px;
  		height: 100%;

  		font-size: 26px;
  		text-align : center;

  	}

  	.parcoursPerso{

  		margin-left: 54%;
  		min-width: 600px;
  		min-height: 600px;

  	}

  	.persoName{
  		padding: 10px;

  	}

  	.persoHouse{
  		padding: 10px;

  	}

  	.persoKilledBy{
  		padding: 10px;

  	}

  	.persoImage > img{

  		display : block;
  		margin:auto;

  	}

	.font-got{
  		position: relative; 
  		top: 10%; 
  		left: 10%;
  		height: 100px;
  		width: 120px;
  	}
    

    .title-stats{

      width: 40%;
      height: 40%;
      margin-right: 45%;
      margin-top:5%;

    }

  	.graphe-content{

  		position: absolute; 
		
  		top: 0; 
  		right: 0; 
  		bottom: 0; 
  		left: -500%;

  		background: url("double_page_4.jpg") no-repeat;
  		-webkit-background-size: 100% 100%; /* pour anciens Chrome et Safari */
  		background-size: 100% 100%; /* version standardisée */
  		max-width : 1200px;
  		height: 100%;
  		max-height: 1000px;
  		margin:auto;

  	}

	.graphe-content > .container-fluid > .row > .col-sm-4 {

  		float: left;
  		margin-top: 3%;
  		margin-left: 9%;
  		width: 35%;
  	}

    .graphe-content > .container-fluid > .row > .col-sm-4 > .well{

      background-color: transparent;
      border: none;


    }

  	.graphe-content > .container-fluid > .row > .col-sm-8{
  		margin-left: 57%;
  		margin-top: -24%;
  	}



  </style>
</html>